<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<div class="container" id="app" v-cloak>
    <h1>모집 글 상세 페이지 입니다.</h1>
    <span>모집 글 id:</span>
    <span th:text="${targetId}"></span>
    <button type="button" @click="searchRoom">채팅하기</button>
</div>
<script>
    window.targetId = [[${targetId}]];                      // 페이지 작성자 id
    window.targetName =  '[[${targetName}]]';               // 페이지 작성자 이름
    window.loginMemberId =  '[[${loginMemberId}]]';         // 로그인 사용자 id
    window.loginMemberName =  '[[${loginMemberName}]]';     // 로그인 사용자 이름
</script>
<script src="/js/startRoom.js"></script>
</body>
</html>