<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 수정</title>
</head>
<body>
<h1>회원 수정</h1>
<form th:action="@{|/members/${member.getId()}|}" th:method="put">
    <table th:border="1">
        <tbody>
        <tr>
            <td><label>ID</label></td>
            <td>
                <input type="text" name="id" th:value="${member.getId()}" readonly>
            </td>
        </tr>

        <tr>
            <td><label>이름</label></td>
            <td>
                <input type="text" name="name" th:value="${member.getName()}">
            </td>
        </tr>

        <tr>
            <td><label>성별</label></td>
            <td>
                <select name="gender">
                    <option th:selected="${member.getGender() == '남자'}">남자</option>
                    <option th:selected="${member.getGender() == '여자'}">여자</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label>분야</label></td>
            <td>
                <select name="field">
                    <option th:selected="${member.getField() == '코딩'}">코딩</option>
                    <option th:selected="${member.getField() == '취미'}">취미</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label>나이</label></td>
            <td>
                <input type="number" name="age" th:value="${member.getAge()}">
            </td>
        </tr>

        </tbody>
    </table>
    <input type="submit" value="수정">
    <a th:href="@{|/members/${member.getId()}|}">취소</a>
</form>
</body>
</html>
