<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TEAMPLE 모여</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script
          src="https://kit.fontawesome.com/c9b17dc88f.js"
          crossorigin="anonymous"
  ></script>
<body>
<header class="header">
  <div class="header__inner">

    <div class="logo">
      <a href="/"><img src="images/logo.svg" alt="로고"></a>
    </div>

    <nav class="navbar">
      <ul class="navbar__menu">
        <div class="navbar__menu-item"><a href="#"><i class="fa fa-solid fa-info"></i> About</a></div>
        <div class="navbar__menu-item"><a href="#"><i class="fa fa-regular fa-rectangle-list"></i> 게시판</a></div>
        <div class="navbar__menu-item"><a href="#"><i class="fa fa-solid fa-headset"></i> 프로젝트</a></div>
      </ul>
    </nav>

    <ul class="certification-btns" th:unless="${loginMember}">
      <li><a href="/members/signup" class="certification-btns__sign-up-btn">회원가입</a></li>
      <span>|</span>
      <li><a href="/login" class="certification-btns__sign-in-btn">로그인</a></li>
    </ul>

    <div class="dropdown" th:if="${loginMember}">
      <button class="dropdown-toggle-btn"><i class="fa fa-solid fa-user"></i></button>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="fa fa-regular fa-user"></i>나의 프로필</a></li>
        <li>
          <form th:action="@{/logout}" method="post">
            <button type="submit">
              <i class="fa fa-solid fa-right-from-bracket"></i> 로그아웃</a>
            </button>
          </form>
        </li>
      </ul>
    </div>

    <input type="checkbox" name="" id="hamburger-menu" class="hamburger-menu-btn">

    <label for="hamburger-menu" class="hamburger-lines">
      <span class="hamburger-lines__line hamburger-lines__line-1"></span>
      <span class="hamburger-lines__line hamburger-lines__line-2"></span>
      <span class="hamburger-lines__line hamburger-lines__line-3"></span>
    </label>


  </div>
</header>


<div class="welcome-header" th:if="${loginMember}">
  <h1 class="welcome-header__title">환영합니다</h1>
  <p class="welcome-header__text" th:text="|TEAMPLE 모여 사이트에  환영합니다. ${loginMember.name}님|">
    TEAMPLE 모여 사이트에  환영합니다. 사용자님
  </p>
</div>

<!-- 채팅 기능 시험용########################################################## -->
<hr>
<h2>채팅 시험용</h2>
<p><a href="/p/111">(채팅 기능 시험용)작성자 id가 111인 프로필 상세 페이지</a></p>
<p><a href="/h/111">(채팅 기능 시험용)작성자 id가 111인 모집 글 상세 페이지</a></p>
<p><a href="/chat/allroom">(채팅 기능 시험용)전체 채팅방 목록</a></p>
<p><a href="/my">(채팅 기능 시험용)id가 1인 사용자가 참여중인 채팅방 목록</a></p>
<hr>
<!-- ####################################################################### -->

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__copyright">
      Copyright © 2023 Hsac-ProjectB
    </div>
  </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>